<div id="<%= dom_id like %>">
  <p>
    <strong>User:</strong>
    <%= like.user_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= like.review_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= like.photo_id %>
  </p>

</div>
